# Node modules
node_modules/

# File cấu hình môi trường
.env

# Thư mục biên dịch và build
dist/
build/

# Thư mục và file log
logs/
*.log

# Cấu hình IDE
.vscode/
.idea/

# Các file tạm thời
*.tmp

# Docker files (nếu không cần theo dõi)
docker-compose.yml
Dockerfile
*.tar
.docker/
