.upload-file-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.upload-file-container input {
    margin: 10px 0;
}

.upload-file-container button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.upload-file-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.upload-file-container p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}