.Toastify__close-button {
  width: 16px; /* Đặt kích thước nhỏ hơn */
  height: 16px; /* Đặt kích thước nhỏ hơn */
  padding: 0; /* Loại bỏ padding */
  font-size: 12px; /* Giảm kích thước biểu tượng */
  line-height: 16px; /* Điều chỉnh chiều cao */
}
