.course-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 4%;
}
.card-recomandcourse {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  margin: 20PX;
}
.card-recomandcourse img {
  width: 100%;
  height: auto;
}
.card-recomandcourse-content {
  padding: 15px;
}
.card-recomandcourse-content .tag {
  display: inline-block;
  background-color: #e0e7ff;
  color: #4f46e5;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}
.card-recomandcourse-content h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}
.card-recomandcourse-content p {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
}
.card-recomandcourse-content .rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.card-recomandcourse-content .rating i {
  color: #fbbf24;
  margin-right: 5px;
}
.card-recomandcourse-content .rating span {
  font-size: 14px;
  color: #333;
}
.course-container > div {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.course-container > div:hover {
  transform: scale(1.05);
}