body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Main Page Container */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  width: 100%;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
}
.carousel-item img {
  height: 400px;
  width: 1520px;
  object-fit: cover; /* Giúp hình ảnh không bị méo */
}
.carousel-control-prev,
.carousel-control-next {
  width: auto; /* Giới hạn chiều rộng của nút */
  height:  50px; /* Giới hạn chiều cao của nút */
  background-color: rgba(0, 0, 0, 0.5); /* Làm nút dễ nhìn hơn */
  border-radius: 10%; /* Làm bo tròn nút */
  padding: 10px; /* Khoảng cách bên trong nút */
  position: absolute;
  top: 35%; /* Căn giữa nút theo chiều dọc */
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 10px; /* Căn nút "Previous" cách bên trái */
}

.carousel-control-next {
  right: 10px; /* Căn nút "Next" cách bên phải */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
}


.carousel-inner {
  border-radius: 10px; /* Tùy chỉnh góc bo tròn cho vùng slide */
}
/* Responsive Styles */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 20px;
  }

  .hero p {
    font-size: 14px;
  }

  .start-testing-button {
    padding: 8px 16px;
  }

  .text {
    font-size: 1.5em;
  }
}
.sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.section {
  padding: 20px;
  background-color: #f1f1f1;
  width: 100%;
  text-align: center;
  display: block; /* Make sure sections are visible */
}

/* Optionally, use visibility or opacity transitions to animate them */
.section.hidden {
  display: none;
}